<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Your Repositories</h1>
      <div class="card">
        <ul class="list-group list-group-flush" id="list-group">
          <li ng-repeat="repo in main.repos" class="list-group-item" id="{{ repo.full_name }}">
            {{ repo.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h1>Guide</h1>
      <div class="indent-me">
        <p>1. Login and select a repository to work from.</p>
        <p>2. Send your friend the link.</p>
        <p>3. Code away!</p>
      </div>
    </div>
  </div>
</div>
