<div class="landing-page">
  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">
        <h1>WayTwoCode</h1>
        <h3>Pair Programming Online</h3>
        <a class="btn btn-secondary" href="https://github.com/login/oauth/authorize?client_id=e28a001aa9eecc8286f6&redirect_uri=http://localhost:3000/github&scope=repo" id="githubLogin"><img src="/images/github-logo.png"> Login with Github</a>
        <hr class="intro-divider">
        <h6>Copyright 2016 &copy; WayTwoCode. All Rights Reserved</h6>
      </div>
    </div>
  </div>
</div>
